h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-style: double;
}

h2 {
  text-decoration: underline;
  text-decoration-style: solid;
  text-align: left;
}

h3 {
  text-align: left;
}

.box h2,
.box h3 {
  color: rgb(23, 39, 162);
}

.box2 h2,
.box2 h3 {
  color: rgb(128, 128, 128);
}

.box3 h2,
.box3 h3 {
  color: rgb(21, 92, 30);
}

.box h2+p::first-letter {
  text-transform: uppercase;
  font-size: 28px;
  color: rgb(23, 39, 162);
  font-family: sans-serif;
  font-weight: bolder;
}

.box2 h2+p::first-letter {
  text-transform: uppercase;
  font-size: 28px;
  color: rgb(128, 128, 128);
  font-family: sans-serif;
  font-weight: bolder;
}

.box3 h2+p::first-letter {
  text-transform: uppercase;
  font-size: 28px;
  color: rgb(21, 92, 30);
  font-family: sans-serif;
  font-weight: bolder;
}

.box {
  position: relative;
  width: 65%;
  height: 720px;
  border: 2px solid rgb(23, 39, 162);
  border-left: dashed;
  border-bottom: dashed;
  border-color: rgb(23, 39, 162);
  margin: 100px 20%;
  background: #a5caea;
}

.box2 {
  position: relative;
  width: 65%;
  height: 690px;
  border: 2px solid rgb(128, 128, 128);
  border-left: dashed;
  border-bottom: dashed;
  border-color: rgb(128, 128, 128);
  margin: 150px 20%;
  background: #cbced0;
}

.box3 {
  position: relative;
  width: 65%;
  height: 660px;
  border: 2px solid rgb(21, 92, 30);
  border-left: dashed;
  border-bottom: dashed;
  border-color: rgb(21, 92, 30);
  margin: 50px 20%;
  background: #a5e4b0;
}

.text {
  padding: 40px;
}

.box ul li:nth-child(even) {
  color: rgb(23, 39, 162);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.box ol li:nth-child(even) {
  color: rgb(23, 39, 162);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.box2 ul li:nth-child(odd) {
  color: rgb(120, 121, 130);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.box3 ul li:nth-child(3n) {
  color: rgb(21, 92, 30);
  text-decoration: underline;
  text-decoration-style: wavy;
}

.text-foter {
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

img {
  position: absolute;
  width: 280px;
  height: 200px;
  outline: 2px solid rgb(94, 65, 213);
  left: 80%;
  top: -15%;
  z-index: 1;
}

.box2>img {
  position: absolute;
  width: 280px;
  height: 200px;
  outline: 2px solid grey;
  left: 80%;
  top: -15%;
  ;
  z-index: 1;
}

.box3>img {
  position: absolute;
  width: 280px;
  height: 200px;
  outline: 2px solid rgb(21, 92, 30);
  left: 80%;
  top: -15%;
  ;
  z-index: 1;
}